{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<section class="main main-archive">

<div class="content-hold">
	<div class="wrapper">


	{{#author}}

		<article class="post result">
			<div class="inner">
				<h1 class="searching">
					<a href="{{url}}rss/">{{name}}</a>
				</h1>
			</div>
		</article>

	{{/author}}

	{{! Generic loop shared across all loop based pages }}
	{{> "loop" }}

		</div>
	</div>	{{! Wrapper and content hold close}}

</section> {{! Section main archive close}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}


    <nav class="hidden sitenav-posts footer-posts">

    	<h4 class="navigation-posts-text">Most recent posts</h4>
    	<ul>
    		{{! Each post will be output using this markup }}
    		{{#foreach posts}}
    			<li><a href="{{url}}" title="{{{title}}}">{{{title}}}</a></li>
    		{{/foreach}}
    	</ul>
    </nav>

</section>
