{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="profile">
	{{#if @blog.logo}}<img src="{{@blog.logo}}" class="profileimage" alt="user">{{/if}}
	<h4>{{@blog.title}}</h4>
	<p>{{@blog.description}}</p>
	<hr>
</div>

<section class="posts postindex wrapper">

	<div class="notification">
		<span class="ntitle">Author</span><span class="message">{{author.name}}</span>
		<a href="{{@blog.url}}"><i class="fa fa-times"></i></a>
	</div>

	{{> loop}}

	{{pagination}}

</section>
